body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

header h1 {
  font-size: 72px;
}

header p {
  text-align: center;
}

section {
  width: 40%;
  background-color: gray;
  margin-top: 5%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-left: 10%;
}

form h1, form span, label {
  color: #fff;
}

.back {
  border: 0ch;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: greenyellow;
}

.submit {
  background-color: red;
  border: 0ch;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: red;
}

.submit a {
  text-decoration: none !important;
  color: black;
}
