body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;;
  width: 50%;
}

p strong {
  color: red !important;
}

section a {
  text-decoration: none;
  color: #fff;
  font-size: xx-large;
  cursor: pointer;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 50px;
}

section {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

header a {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 15px;  
}