{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mock/myquestions.css' %}">
    <title>Minhas questões</title>
</head>
<body>
    <header>
        <button>
            <a href="{% url 'mock:dashboard' %}">Voltar</a>
        </button>
    </header>
    <section>
        {% for question in questions %}
            <article>

                <h2>{{question.question_text}}</h2>
                
                <div style="display: flex; flex-direction: column;" >
                    {% for choice in question.choice_set.all %}
                        <label for="{{choice.choice_text}}">{{choice.choice_text}}</label>
                        <!-- <input type="radio" name="{{ question.id }}" value="{{ choice.id }}"> -->
                    {% endfor %}
                </div>  
            </article>
        {% endfor %}

    </section>

</body>
</html>