<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
</head>
<body>
    <form action="{% url 'mock:register' %}" method="post">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Nome" >

        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email">

        <label for="senha">Senha</label>
        <input type="password" name="password" placeholder="Senha">

        <label for="confirmar-senha">Confirmar senha</label>
        <input type="password" name="confirm-password" placeholder="Confirmar senha">

        <input type="submit">
    </form>   
    <button><a href="{% url 'mock:LandingPage' %}">Voltar</a></button> 
</body>
</html>